#include "resource.h"
#include "winres.h"

//103 PNG "res/a_not_pressed.png"
//104 PNG "res/a_pressed.png"

//105 PNG "res/b_not_pressed.png"
//106 PNG "res/b_pressed.png"

//107 PNG "res/c_not_pressed.png"
//108 PNG "res/c_pressed.png"

109 PNG "res/d_not_pressed.png"
110 PNG "res/d_pressed.png"

//111 PNG "res/e_not_pressed.png"
//112 PNG "res/e_pressed.png"

//113 PNG "res/f_not_pressed.png"
//114 PNG "res/f_pressed.png"

//115 PNG "res/g_not_pressed.png"
//116 PNG "res/g_pressed.png"

//117 PNG "res/h_not_pressed.png"
//118 PNG "res/h_pressed.png"

//119 PNG "res/i_not_pressed.png"
//120 PNG "res/i_pressed.png"

//121 PNG "res/j_not_pressed.png"
//122 PNG "res/j_pressed.png"

//123 PNG "res/k_not_pressed.png"
//124 PNG "res/k_pressed.png"

//125 PNG "res/l_not_pressed.png"
//126 PNG "res/l_pressed.png"

//127 PNG "res/m_not_pressed.png"
//128 PNG "res/m_pressed.png"

//129 PNG "res/n_not_pressed.png"
//130 PNG "res/n_pressed.png"

//131 PNG "res/o_not_pressed.png"
//132 PNG "res/o_pressed.png"

//133 PNG "res/p_not_pressed.png"
//134 PNG "res/p_pressed.png"

135 PNG "res/q_not_pressed.png"
136 PNG "res/q_pressed.png"

//137 PNG "res/r_not_pressed.png"
//138 PNG "res/r_pressed.png"

139 PNG "res/s_not_pressed.png"
140 PNG "res/s_pressed.png"

//141 PNG "res/t_not_pressed.png"
//142 PNG "res/t_pressed.png"

//143 PNG "res/u_not_pressed.png"
//144 PNG "res/u_pressed.png"

//145 PNG "res/v_not_pressed.png"
//146 PNG "res/v_pressed.png"

//147 PNG "res/w_not_pressed.png"
//148 PNG "res/w_pressed.png"

//149 PNG "res/x_not_pressed.png"
//150 PNG "res/x_pressed.png"

//151 PNG "res/y_not_pressed.png"
//152 PNG "res/y_pressed.png"

153 PNG "res/z_not_pressed.png"
154 PNG "res/z_pressed.png"
